<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokkalo.nzta">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM Permissions - Start here -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.tokkalo.nzta.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tokkalo.nzta.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- GCM Permissions - End here -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MemberActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Register Broadcast receiver -->

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tokkalo.nzta" />
            </intent-filter>
        </receiver>

        <!-- Register Service -->

        <service android:name=".GCMNotificationIntentService" />

        <activity android:name=".UserConfirmationActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MembershipActivity" />
        <activity android:name=".ReferFriendActivity" />
        <activity android:name=".NewZealandActivity" />
        <activity
            android:name=".InviteFriendActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ExistingEventsActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".UpcomingEventsActivity" />
        <activity android:name=".UCEventsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PopUpActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8af5b3bbaf1b37796949b09e9a978614a6d92da1" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".SendMessageActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".FacebookActivity" />
        <activity android:name=".ShowEventsActivity" />
        <activity
            android:name=".GalleryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".FullImageActivity" />
        <activity android:name=".PlayVideoActivity" />
        <activity
            android:name=".VideoGalleryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".GoGreenActivity" />
        <activity android:name=".NZBloodActivity" />
        <activity android:name=".SubscriptionActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".HelpingHandsActivity" />
        <activity android:name=".TeamActivity" />
        <activity android:name=".SplashActivity" />
    </application>

</manifest>
